@tailwind base;
@tailwind components;
@tailwind utilities;

/* .not-found,.loading-container{
  height: calc(100vh - 377px);
} */

@media only screen and (min-width:768px){
  .not-found,
    .loading-container {
      height: 70vh;
    }
}

header{
  transition: all 300ms ease-in-out;
  
  display: block;
}

header.down{
  transform: translate3d(0, -100%, 0);
}

.input-wrapper{
  position: relative;
  width: 100%;
}

input.newsletter-input{
  border: 1px solid #D0A02B;
  background-color: transparent;
}

label {
  position: absolute;
  left: 10px;
  top: 15px;
  padding: 0 4px;
  color: #000;
  transition: all 0.2s ease;
  pointer-events: none;
  line-height: 1;
  cursor: context-menu;
}

input:not(:placeholder-shown)~label,
input:focus~label {
  top: -8px;
  font-size: 13px;
  background-color: #F7F6F3;
}

.prevent-select {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

/* header.active{
  position: absolute;
  top: 0;
  inset-inline: 0;
  z-index: 500;
}

header.scroll{
  position: sticky;
  top: 0;
  background-color: #F7F6F3;
  color: #000;
} */